.main block{
    border: 2px solid green;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
img{
    width: 200px;
    height: 200px;
}
.parent block{
    display: flex;
    justify-content: space-evenly;
}